################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/public/upload/images/1490946407844. 
