@font-face {
    font-family: 'GothamRoundedLight';
    src: url('../fonts/gotham-round-light.eot');
    src: url('../fonts/gotham-round-light.eot') format('embedded-opentype'), url('../fonts/gotham-round-light.woff') format('woff'), url('../fonts/gotham-round-light.ttf') format('truetype'), url('../fonts/gotham-round-light.svg#gotham-round-light') format('svg');
}

@font-face {
    font-family: 'GothamRounded-Medium';
    src: url('../fonts');
    src: url('../fonts/GothamRounded-Medium.eot') format('embedded-opentype'), 
         url('../fonts/GothamRounded-Medium.woff') format('woff'), 
         url('../fonts/GothamRounded-Medium.ttf') format('truetype'), 
         url('../fonts/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
}
